@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.hero {
    background-color: #1F2937;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo-txt {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-link {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 16px;
}

.hero-box {
    width: 30vw;
    height: 14vw;
}

.hero-main-txt {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    text-align: left;
    text-wrap: wrap;
}

.hero-secondary-txt {
    font-size: 18px;
    color: #E5E7EB;
    text-align: left;
    text-wrap: wrap;
}

.hero-signup {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    color: #E5E7EB;
    padding: 8px 36px;
    font-size: 18px;
    font-weight: bold;
}

.hero-img {
    background: gray;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.section-container {
    width: 150px;
}

.section-content {
    width: 154px;
    height: 154px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.info-section {
    height: 30vh;
}

.info-section h1 {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
}

.quote-section {
    background-color: #E5E7EB;
    margin-top: 100px;
    padding: 100px 500px;
}

.quote-txt {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.cta-container {
    display: flex; 
    justify-content: space-between;
    align-items: end;
}

.cta-txt p{
    padding: 0;
    margin: 0;
}

.cta-title {
    font-size: 15px;
}

